In [19]:
import pandas as pd

print("Python       :", sys.version.split("\n")[0])
print("Pandas       :", pd.__version__)

Python       : 3.9.6 (default, Jun 28 2021, 19:24:41)
Pandas       : 1.3.5

In [17]:
sales = pd.read_csv("sales.csv")

sales.head()

,id,product_code,product_group,stock_qty,cost,price,last_week_sales,last_month_sales
0,1,4187,PG2,498,420.76,569.91,13,58
1,2,4195,PG2,473,545.64,712.41,16,58
2,3,4204,PG2,968,640.42,854.91,22,88
3,4,4219,PG2,241,869.69,1034.55,14,45
4,5,4718,PG2,1401,12.54,26.59,50,285

Набор данных содержит информацию о запасах, затратах, ценах и продажах товаров в розничном магазине./
The dataset contains information about inventory, costs, prices, and sales of goods in a retail store.

1. Shape

In [4]:
sales.shape

(1000, 8)

In [5]:
sales.size

8000

2. Dtypes

In [6]:
sales.dtypes

id                    int64
product_code          int64
product_group        object
stock_qty             int64
cost                float64
price               float64
last_week_sales       int64
last_month_sales      int64
dtype: object

3. Isna

In [7]:
sales.isna().sum()

id                  0
product_code        0
product_group       0
stock_qty           0
cost                0
price               0
last_week_sales     0
last_month_sales    0
dtype: int64

In [8]:
sales.isna().sum(axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
995    0
996    0
997    0
998    0
999    0
Length: 1000, dtype: int64

4. Describe

In [11]:
sales.describe().round(2)

,id,product_code,stock_qty,cost,price,last_week_sales,last_month_sales
count,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00
mean,500.50,5095.09,6012.50,45.95,67.06,76.92,282.00
std,288.82,2801.12,129789.19,114.17,144.10,197.39,741.96
min,1.00,16.00,-123.00,0.54,0.66,12.00,11.00
25%,250.75,2647.75,476.00,6.58,13.29,18.75,61.00
50%,500.50,4969.50,1007.50,13.09,23.74,31.00,110.50
75%,750.25,7653.25,2105.25,33.57,56.99,64.00,242.00
max,1000.00,9972.00,4104542.00,1243.00,1500.05,3222.00,12353.00

5. Value_counts

In [12]:
sales["product_group"].value_counts()

PG4    349
PG5    255
PG6    243
PG2     75
PG3     39
PG1     39
Name: product_group, dtype: int64

In [13]:
sales["product_group"].value_counts(normalize=True)

PG4    0.349
PG5    0.255
PG6    0.243
PG2    0.075
PG3    0.039
PG1    0.039
Name: product_group, dtype: float64

6. Groupby

In [14]:
sales.groupby("product_group", as_index=False).agg(  
    avg_price = ("price","mean")
)

  product_group   avg_price
0           PG1  303.612821
1           PG2  124.980133
2           PG3   83.571538
3           PG4   31.033381
4           PG5   87.094980
5           PG6   39.300165

In [15]:
sales.groupby("product_group", as_index=False).agg(  
    avg_price = ("price","mean"),
    avg_stock_qty = ("stock_qty","mean")
)

  product_group   avg_price  avg_stock_qty
0           PG1  303.612821     660.666667
1           PG2  124.980133    2142.013333
2           PG3   83.571538    2460.025641
3           PG4   31.033381    1332.532951
4           PG5   87.094980   17823.850980
5           PG6   39.300165    2963.008230

In [16]:
sales.groupby("product_group", as_index=False).apply(
    lambda x: pd.Series((x.price - x.cost).mean(), 
                        index=["avg_profit"])
)

  product_group  avg_profit
0           PG1   98.071795
1           PG2   42.973467
2           PG3   26.299231
3           PG4   13.141605
4           PG5   18.657765
5           PG6   15.200864